.dropdown:hover>.dropdown-menu{
    display: block;

}

.dropdown>.dropdown-toggle:active{
    pointer-events: none;
}


.dropdown:hover .dropdown-menu  {display: block;}



.header_font{
    font-family: "Montserrat";
    color: #505050;
    font-size: 18px;

}
ul.pages .current:hover {
    color: #fff;
    background-color: #d79c74;
    border-radius: 30px;
}

/*ul.pages span {*/
    /*display: block;*/
    /*width: 34px;*/
    /*height: 34px;*/
    /*line-height: 34px;*/
    /*font-weight: 700;*/
    /*cursor: pointer;*/
    /*padding: 0;*/
    /*text-transform: uppercase;*/
    /*margin-top: 10px;*/
/*}*/


/*
ul.pages .current{
    background-color: #c9bb7a;
    color: #ffffff;
    border-radius: 30px;
    font-weight: 700;
}
*/

/*
ul.pages{
    display: table;
    margin: 0 auto;
    list-style: none;
    border-radius: 30px;
    border-width: 0;
    margin-top: 10px;
    padding-left: 0;
}
*/
.btn-next:hover {
    color: #c9bb7a;
    background: #c9bb7a;
    border: 2px solid #c9bb7a;
}

.my_btn_tr{
    color: #c9bb7a;
    background: #c9bb7a;
    border: 2px solid #c9bb7a;
}

.my_btn_tr{

    display: block;
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: black;
    letter-spacing: 1px;
    line-height: 15px;
    border: 4px solid red;
    border-radius: 40px;
    background: red;
    transition: all 0.3s ease 0s;

}

.btn {
    margin-left: 10px;
    margin-right: 10px;
}

.btn-next {


    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: black;
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid ;
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;




}








.fs-s{
    color: #C9BB78;
    font-family: "Montserrat";
    font-size: 18px;
}
.sh-table {
    display: table;
    width: 100%;
}
.sh-table-cell {
    display: table-cell;
    /*vertical-align: middle*/;
    float: none!important;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Montserrat";
    color: #505050;
    font-weight: 200;
}
b, strong {
    font-weight: 700;
}


h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat",serif;
    color: #3f3f3f;
    font-weight: 700;
    margin: 0 0 20px;
    padding: 0;
    line-height: normal!important;
}
.sh-copyrights-align-left2 .sh-copyrights-info {
    text-align: right;
}

.sh-copyrights-info {
    font-size: 12px;
    margin-top: 10px;
}

p{
    font-family: "Open Sans";
    color: #616161;
    font-weight: 400;
    font-size: 18px;
}
.post-title{
    display: block;
    word-break: break-word;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto ;

}
header{
    display: block;
    margin: auto;
    padding: auto;
}
footer{
    display: block;
}
.sh-copyrights {
    background-color: #222;
    color: #fff;
    padding: 40px 10px;
}
.sh-footer .sh-copyrights {
    background-color: #2d2d2d;
    color: #ffffff;
}


.container{
    color: #ffffff;
}
.sh-footer .sh-footer-widgets {
    background-color: #ffffff;
    color: #8d8d8d;
}
