.fs{
    font-family: "Montserrat";
    color: #505050;
    font-size: 18px;

}

.fs-s{
    color: #C9BB78;
    font-family: "Montserrat";
    font-size: 18px;
}
.sh-table {
    display: table;
    width: 100%;
}
.sh-table-cell {
    display: table-cell;
    /*vertical-align: middle*/;
    float: none!important;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Montserrat";
    color: #505050;
    font-weight: 200;
}
b, strong {
    font-weight: 700;
}


h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat",serif;
    color: #3f3f3f;
    font-weight: 700;
    margin: 0 0 20px;
    padding: 0;
    line-height: normal!important;
}
.sh-copyrights-align-left2 .sh-copyrights-info {
    text-align: right;
}

.sh-copyrights-info {
    font-size: 12px;
    margin-top: 10px;
}

p{
    font-family: "Open Sans";
    color: #616161;
    font-weight: 400;
    font-size: 18px;
}
.post-title{
    display: block;
    word-break: break-word;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto ;

}
header{
    display: block;
    margin: auto;
    padding: auto;
}
footer{
    display: block;
}
.sh-copyrights {
    background-color: #222;
    color: #fff;
    padding: 40px 10px;
}
.sh-footer .sh-copyrights {
    background-color: #2d2d2d;
    color: #ffffff;
}


.container{
    color: #ffffff;
}